spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kako
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

server:
  port: 8080

app:
  jwtSecret: ${JWT_SECRET:MyVerySecureSecretKeyThatIsAtLeast32CharactersLongForHS256Production}
  jwtExpirationMs: 86400000

logging:
  level:
    root: WARN
    com.example.demo: INFO
